
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4d97ff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="background-color: #ffffff; border-radius: 20px; padding-left: 0.5em; padding-right: 0.5em;">CoderDojo 立川</a>
      <button class="navbar-toggler" style="background-color: #FFAB19;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% Object.keys(theme.menu).forEach(key => { %>
            <li class="nav-item">
              <a  class="nav-link" href="<%=theme.menu[key]%>"><%=key%></a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </nav>

<div id="menu-outer">
  <div id="menu-inner">
    <% Object.keys(theme.menu).forEach(key => { %>
      <a href="<%=theme.menu[key]%>"><%=key%></a>
    <% }); %>
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>

<div id="bottom-outer">
  <div id="bottom-inner">
    Site by <%=config.author%> using
    <a href="http://hexo.io">hexo blog framework</a>.
    <br>
    <a href="<%=config.root%>">Home</a>
  </div>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(url => { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
